.campo {
    margin: 24px 0;
}

.campo label {
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
}

.campo input {
    width: 100%;
    padding: 24px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0.06, 0.1);
    box-sizing: border-box;
}

.campo-color input {
    height: 40px;
    padding: 5px 24px;
}